/* General Page Styling */
.resultsPage {
    font-family: 'Noto Sans', sans-serif;
    color: #353131;
    padding: 2rem;
    background-color: #ffffff;
    margin-top: 55px; /* Adjusted to prevent overlap but not too low */
  }
  
/* Header */
.resultsHeader {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 0.25rem; /* Reduced space between header and count */
    width: 100%;
    justify-content: left;
  }

  .logo {
    width: 60px;
    height: auto;
  }
  
  .searchTitle, .searchTitleMobile {
    font-weight: bold;
    margin: 0;
    word-break: break-word;
    overflow-wrap: break-word;
    text-align:left;
    hyphens: auto;
  }

  .searchTitle {
    font-size: 2rem;
  }

  .searchTitleMobile {
    display: none;
    font-size: 1.5rem;
  }
  
  /* Search Results Count */
  .searchResults {
    margin-left: calc(60px + 1.5rem); /* Aligns with the title (logo width + gap) */
    margin-bottom: 1.5rem;
    color: #666;
    font-size: 0.875rem;
    font-weight: 500;
  }
  
  .searchResults p {
    margin: 0;
    padding: 0;
    text-align: left;
  }
  
  /* Filters and Sorting */
  .resultsContainer {
    display: flex;
    align-items:center;
    gap: 4rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid #d7dadc; /* Visual separation */
    padding-bottom: 2.5rem;
    justify-content: center;
  }
  
  .filterContainer {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  
  .filterLabel {
    font-size: 1.25rem;
    font-weight: 700;
  }
  
  .filterInput {
    border: 1px solid #d7dadc;
    border-radius: 20px;
    padding: 0.5rem;
    font-size: 1rem;
    width: 270px;
  }

  .filterInputMobile {
    display:none;
    border: 1px solid #d7dadc;
    border-radius: 20px;
    padding: 0.35rem;
    font-size: 1rem;
    width: 270px;
  }
  
  /* Sorting Section */
  .sortContainer {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-left: 1rem; /* Adds space between the input field and sorting */
    border-left: 1px solid #d7dadc; /* Small vertical line for separation */
    padding-left: 4rem; /* Adds space after the vertical line */
  }
  
  .sortTitle {
    font-size: 1.25rem;
    font-weight: 600;
  }
  
  .sortButtons {
    display: flex;
    gap: 1.5rem;
  }
  
  .sortButton {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .sortButton:hover {
    transform: scale(1.1);
  }
  
  .sortIcon {
    width: 16px;
    height: 16px;
  }
  
  /* Subreddit List */
  .subredditsContainer {
    margin-top: 2rem;
  }
  
  .subredditList {
    list-style: none;
    padding: 0;
  }
  
  .subredditItem {
    height: 200px;
    border: 1px solid #d7dadc;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #ffffff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .subredditItem:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  }
  
  .subredditItem:active {
    transform: translateY(2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
  }
  
  .subredditLink {
    width: 100%;
    text-decoration: none;
    color: inherit;
  }

  .subredditContent {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    }
  
  /* Left Section: Subreddit Icon */
  .subredditLeft {
    min-width: 150px;  /* Minimum width */
    max-width: 150px;  /* Maximum width - same as minimum to keep it fixed */
    border-right: 1px solid #d7dadc;
    padding-left: 1.5rem;
    padding-right: 3rem;
  }
  
  .subredditIcon {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
  }
  
  /* Center Section: Subreddit Info */
  .subredditCenter {
    flex: 1;
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width:650px;
    align-items: flex-start;
    margin:2rem 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .subredditHeader {
    display: flex;
    gap: 2rem;
  }
  
  .subredditName {
    font-size: 0.85rem;
    font-weight: bold;
    color: #353131;
  }
  
  .subredditDetails {
    font-size: 0.85rem;
    color: #353131;
    text-align: left;
  }
  
  /* Title and Description */
  .subredditTitle {
    font-size: 1.5rem;
    font-weight: bold;
    color: #353131;
    text-align: left;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limits text to 2 lines */
    -webkit-box-orient: vertical;
    word-break: break-word;
  }
  
  .subredditDescription {
    font-size: 0.9rem;
    color: #353131;
    text-align: left; /* Ensures alignment to the left */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limit to 2 lines */
    -webkit-box-orient: vertical; /* Required for line clamping */
  }
  
  /* Right Section: Banner Image */
.subredditRight {
    min-width: 150px;  /* Same as left section for consistency */
    max-width: 150px;  /* Fixed maximum width */
    height: 100%; /* Match the full height of the container */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center items horizontally */
    gap: 1rem; /* Add spacing between the banner and the globe/text */
  }
  
  .bannerImage {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
  }
  
  /* Subreddit Info Below the Banner */
  .subredditInfo {
    display: flex;
    gap: 0.5rem; /* Add space between the globe and the text */
    font-size: 0.8rem; /* Make the subreddit type text small */
    color: #757575; /* Use a subtle gray color for the text */
    padding-top: 1.5rem;
  }
  
  .globeIcon {
    width: 16px; /* Small globe icon */
    height: 16px;
  }
  
  .subredditType {
    margin: 0; /* Remove default margin from the paragraph */
    font-size: 0.8rem; /* Match the font size with the globe icon */
    text-transform: capitalize; /* Capitalize the subreddit type for readability */
  }

  @media (width<1000px) {
  
    .resultsPage {
      margin-top: 50px;
    }
  
    .sortContainer {
      display: none;
    }

    .searchResults {
      display: none
    }

    .resultsHeader, .resultsContainer {
      justify-content: center;
    }

    .filterContainer {
      padding-top: 1.5rem;
    }

    .details {
      display: none;
    }

    .subredditDescription {
      -webkit-line-clamp: 2; /* Limit to 2 lines */

    }

    .subredditRight {
      display: none;
    }

  }

  @media (width<800px) {
    .resultsPage {
      margin-top: 20px;
    }

    .sortContainer {
      display: none;
    }

    .searchResults {
      display: none
    }

    .filterContainer {
      padding-top: 1.5rem;
    }

    .logo {
      width: 40px;
      height: auto;
    }

    .searchTitle {
      display: none;
    }

    .searchTitleMobile {
      display: block;
    }

    .filterLabel {
      font-size: 1.15rem;
    }

    .filterInput {
      padding: 0.35rem
    }

    .subredditLeft {
        min-width: 100px;
        max-width: 100px;
        padding-left: 1rem;
        padding-right: 1.5rem;
    }

    .subredditCenter{
      margin-top: 0px;
      margin-bottom: 0px;
      padding-top: 0px;
      padding-bottom: 0px;
    }

    .subredditItem {
      padding: 0px;
    }

    .subredditDetails {
      display: none;
    }

    .subredditTitle{
      font-size: 1.25rem;
    }

    .subredditDescription {
      font-size: 0.85rem;
    }

    .subredditName {
      font-size: 0.8rem;
    }

    .subredditItem{
      height: 200px;
    }
  }

  @media (width<600px) {

    .resultsContainer {
      margin-bottom: 30px;
      padding-bottom: 30px;
    }
  
    .searchTitleMobile {
      font-size:1.25rem;
    }

  .filterContainer {
    padding-top: 1rem;
  }

  .filterLabel {
    display: none;
  }

  .filterInput {
    display:none;
  }

  .filterInputMobile {
    display: block;
    text-align: center;
  }

  .subredditLeft {
    min-width: 75px;
    max-width: 75px;
    padding-left: 1rem;
    padding-right: 1.5rem;
  }

  .subredditDescription {
    display:none;
  }

  .subredditItem{
    height: 100px;
  }

  .subredditTitle {
    -webkit-line-clamp: 1;
  }
  .subredditCenter {
    padding-bottom: 1rem;
  }
}

@media (width<450px) {
  .subredditLeft {
    min-width: 40px;
    max-width: 40px;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
  }

  .subredditCenter {
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 1.5rem;
  }

  .subredditItem{
    height: 75px;
  }

  .subredditTitle {
    font-size: 0.9rem;
  }

  .subredditName {
    font-size: 0.7rem;
    padding-top: 0.9rem;
    margin-bottom: 0rem;
  }

  .resultsPage {
    padding-right: 0.4rem;
    padding-left: 0.4rem;
  }
  
  }

  @media (width<340px) {
    .subredditList {
      max-width: 270px;
    }

    .filterContainer {
      max-width: 250px;
    }

    .subredditsContainer {
      align-content: center;
      justify-items: center;
    }
    
    .logo {
      display:none;
    }

    .searchTitleMobile {
      font-size: 1rem;
    }

  }